section{
    background: #ff1b68;

}
h1{
    color:white;
    font-family: 'Oswald', sans-serif;
}
p{
    color:yellowgreen;
    font-size: 30px;
    /*font-family: 'Caprasimo', cursive;*/
    font-family: 'Bebas Neue', sans-serif;

}
[disabled]{
   color: red;
   background-color: yellow;
}
.green{
    color: green;
    background: blue;
}